<!-- Three -->
<section id="about" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>What is the Oviedo Code Camp?</h2>
			<p>We love Oviedo and the surrounding area and seek to serve the
				children here by providing high-quality instruction to help
				your children learn valuable technology skills at a young age.
			<!-- </p> -->
			<!-- <p> -->
				This summer we are offering two separate classes.
			</p>
		</header>

		<div class="class-container">
			<div class="class-choice">
				<div class="title">Spark</div>
				<div class="dates">June 12-16 or June 19-23</div>
				<div class="ages">Completed 4th or 5th</div>
				<div class="info">
					<p>
						Students who attend this class will be exposed to a lot of foundational
						knowledge pertaining to computer programs flow and process information.
						This will be done primarily through the use of the <a href="https://meetedison.com/" target="_blank">Edison Robots</a>.
						These provide an easy-to-use interface for learning how programming works
						at a basic level while allowing the kids to write real code and have it
						control a real robot.
					</p>
					<p>
						We will also be bringing in <a href="https://limbitless-solutions.org/">Limbitless Solutions</a>,
						a local non-profit organization, to talk about the robotic arms that they
						create and have the students actively engaged in learning how they work as
						well as programming them.
					</p>
				</div>
			</div>
			<div class="class-choice">
				<div class="title">Ignite</div>
				<div class="dates">June 26-30 or July 10-14</div>
				<div class="ages">Completed 6th through 8th</div>
				<div class="info">
					<p>
						Those who attend this class will be working with the <a href="https://meetedison.com/" target="_blank">Edison Robots</a>
						for the first few days of the course. We will be using these to introduce
						the students to the concepts of programming and how computer scientists
						write programs to accomplish tasks. This will expose your child to the
						concept of writing code that controls a robot.
					</p>
					<p>
						On the last few days of the class, we will be discussing the basics
						of electronic circuits. We will be instructing the students on how
						basics components of a circuit fit together to create a product. Your
						child will receive a beginner's electronics kit and we will be doing some
						projects with them; they will even get to take the kit home to continue
						learning after the camp.
					</p>
				</div>
			</div>
		</div>

		<!-- <ul class="features">
			<li class="icon fa-code">
				<h3>Learn Python</h3>
				<p>Your child will be exposed and learn to use a widely used programming language called Python.</p>
			</li>
			<li class="icon fa-branch">
				<h3>Create Circuits</h3>
				<p>We will be teaching your child how basic electricity works and how to construct simple circuits that are foundational for further learning.</p>
			</li>
			<li class="icon fa-book">
				<h3>Cricital Thinking</h3>
				<p>The basis of computer programming is grounded in logic. By learning the basic constructs of programming, your child will learn to think more critically.</p>
			</li>
			<li class="icon fa-headphones">
				<h3>Engaged Learning</h3>
				<p>We believe that learning is most effective when students are hands on with material. To facilitate this, we will be tasking the students with problems to solve on their own.</p>
			</li>
			<li class="icon fa-heart-o">
				<h3>Take Home Electronics</h3>
				<p>Each child that attends the Oviedo Code Camp will leave with a beginning's electronics kit to help them continue learning after the summer.</p>
			</li>
			<li class="icon fa-heart-o">
				<h3>Community</h3>
				<p>Learning is easier when surrounded by people of similar interests. We will be fostering community between the students attending the camp.</p>
			</li>
		</ul> -->
	</div>
</section>
