<!-- Three -->
<section id="about" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>What is the Oviedo Code Camp?</h2>
			<p>
				We love Oviedo and the surrounding area and seek to serve the
				children here by providing high-quality instruction to help
				your children learn valuable technology skills at a young age.
			</p>
			<p style="font-size: 1.4rem;">
				This summer we are offering two separate classes.
			</p>
		</header>

		<div class="class-container">
			<div class="class-choice">
				<div class="title">Foundations for Elementary</div>
				<div class="dates">June 12-16 or June 19-23</div>
				<div class="ages">Completed 4th or 5th</div>
				<div class="info">
					Students who attend this class will be exposed to foundational
					knowledge pertaining to how computer programmers think and solve problems.<br /><br />
					<ul>
						<li>Instructor to student ratio of 1:6 so your child has personal interaction with our staff.</li>
						<li>Learn how to think like a computer programmer.</li>
						<li>Receive hands-on learning! Each camper provided with their own computer & equipment.</li>
						<li>Learn how to program at a basic level in the Python programming language.</li>
						<li>Apply their Python knowledge to solve robotics challenges using our <a href="https://meetedison.com/" target="_blank">Edison Robots</a> which provide a fun interface to experiment and learn.</li>
						<li><a href="https://limbitless-solutions.org/">Limbitless Solutions</a>, a local non-profit which makes robotic prosthetic arms for kids, will be coming in to work with the campers on the last day.</li>
					</ul>
				</div>

				<div class="options-container elem"></div>
			</div>
			<div class="class-choice">
				<div class="title">Foundations for Middle</div>
				<div class="dates">June 26-30 or July 10-14</div>
				<div class="ages">Completed 6th through 8th</div>
				<div class="info">
					Students who attend this class will be exposed to foundational knowledge of computer science as well as how circuits function.
					<br /><br />
					<ul>
						<li>Instructor to student ratio of 1:6 so your child has personal interaction with our staff.</li>
						<li>Learn how to think like a computer programmer.</li>
						<li>Recieve hands-on learning! Each camper provided with their own computer & equipment.</li>
						<li>Learn how to program at a basic level in the Python programming language.</li>
						<li>Apply their Python knowledge to solve robotics challenges using our <a href="https://meetedison.com/" target="_blank">Edison Robots</a> which provide a fun interface to experiment and learn.</li>
						<li>Students will be instructed in how basic circuitry works and will spend time creating a circuitry project of their own.</li>
						<li><a href="https://limbitless-solutions.org/">Limbitless Solutions</a>, a local non-profit which makes robotic prosthetic arms for kids, will be coming in to work with the campers on the last day.</li>
					</ul>
				</div>

				<div class="options-container middle"></div>
			</div>
		</div>

		<div class="about-register-button">
			<a href="/register" class="button special">Register</a>
		</div>
	</div>
</section>
