<!-- One -->
<section id="bio" class="wrapper style2 special">
	<div class="inner clearfix">
		<header class="major">
			<h2>Meet Our Instructors</h2>
		</header>
		<div class="instructor-container">
			<div class="instructor">
			  <div class="name">Tyler Petresky</div>
	      <div class="info clearfix">
	        <img class="headshot" style="width:175px;height:175px;" src="https://dn14k60ccaceu.cloudfront.net/head-shot-tylerpetresky-min-circle.png" />
	        <div class="bio">
	          Hello! My name is Tyler. I am a highly motivated computer scientist who graduated from UCF. I work with local successful technology companies and was the cofounder of Limbitless Solutions: a non-profit that creates bionic arms for kids.
	        </div>
	      </div>
			</div>
			<div class="instructor">
			  <div class="name">Emily Webb</div>
	      <div class="info clearfix">
	        <img class="headshot" style="width:175px;height:175px;" src="https://dn14k60ccaceu.cloudfront.net/head-shot-emilywebb-min.png" />
	        <div class="bio">
	          Hi. I’m Emily! I am an innovative, energetic educator, author, and curriculum writer who loves transforming the lives of students. I have a B.S. in Early Childhood Education and a M.E. in Curriculum and Instruction.
	        </div>
	      </div>
			</div>
		</div>
	</div>
</section>
