<!-- One -->
<section id="bio" class="wrapper style2 special">
	<div class="inner clearfix">
		<header class="major">
			<h2>Meet Our Instructors</h2>
		</header>
		<div class="instructor">
		  <div class="name">Tyler Petresky</div>
      <div class="info clearfix">
        <img class="headshot" src="http://placehold.it/150x150" />
        <div class="bio">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
        </div>
      </div>
		</div>
		<div class="instructor">
		  <div class="name">Emily Webb</div>
      <div class="info clearfix">
        <img class="headshot" src="http://placehold.it/150x150" />
        <div class="bio">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
        </div>
      </div>
		</div>
	</div>
</section>
