<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<form id="contact-form" class="contact-form parallel" method="post" data-success="Message sent successfully!">
			<div class="left">
				<label for="name">Name</label>
				<input id="name" type="text" name="name" class="field" required /><br />

				<label for="email">Email</label>
				<input id="email" type="email" name="email" class="field" required /><br />

				<label for="message">Message</label>
				<textarea id="message" name="message" required></textarea><br />
			</div>
			<div class="right">
				<header>
					<h2>Questions?</h2>
					<p>Shoot us a message. We would love to speak with you
						about how your child can get involved and learn to code.</p>
				</header>

				<div class="captcha-container"></div>

				<div class="submit-button-wrapper">
					<input class="submit-button" type="submit" value="Send" />
				</div>
			</div>
		</form>

		<form id="contact-form" class="contact-form stacked" method="post" data-success="Message sent successfully!">
			<header>
				<h2>Questions?</h2>
				<p>Shoot us a message. We would love to speak with you
					about how your child can get involved and learn to code.</p>
			</header>

			<label for="name">Name</label>
			<input id="name" type="text" name="name" class="field" required /><br />

			<label for="email">Email</label>
			<input id="email" type="email" name="email" class="field" required /><br />

			<label for="message">Message</label>
			<textarea id="message" name="message" required></textarea><br />

			<div class="captcha-container" style="margin-bottom: 20px;"></div>

			<input type="submit" value="Send" />
		</form>
	</div>
</section>
