<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<form id="contact-form" class="contact-form" method="post" data-success="Message sent successfully!">
			<div class="left">
				<label for="name">Name</label>
				<input id="name" type="text" name="name" class="field" required autofocus /><br />

				<label for="email">Email</label>
				<input id="email" type="email" name="email" class="field" required /><br />

				<label for="message">Message</label>
				<textarea id="message" name="message" required></textarea><br />
			</div>
			<div class="right">
				<header>
					<h2>Questions?</h2>
					<p>Shoot us a message. We would love to speak with you
						about how your child can get involved and learn to code.</p>
				</header>

				<button class="g-recaptcha"
					data-sitekey="6LdZXBUUAAAAAAcwiwus50XnDLbLx-yI16XYL8Ov"
					data-callback="sendEmail">Send
				</button>

				<!-- <label for="recaptcha_response_field">Captcha</label>
			  <div id="recaptcha_widget" class="recaptcha">
			    <div class="image">
			      <div id="recaptcha_image"></div>
			    </div>

			    <div class="headline recaptcha_only_if_image">Enter the words above:</div>
			    <div class="headline recaptcha_only_if_audio">Enter the numbers you hear:</div>

			    <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" required />

			    <span class="recaptcha_icon"><a href="javascript:Recaptcha.reload()"><i class="fa fa-refresh"></i></a></span>
			    <span class="recaptcha_icon recaptcha_only_if_image"><a href="javascript:Recaptcha.switch_type('audio')"><i class="fa fa-volume-up"></i></a></span>
			    <span class="recaptcha_icon recaptcha_only_if_audio"><a href="javascript:Recaptcha.switch_type('image')"><i class="fa fa-font"></i></a></span>
			    <span class="recaptcha_icon"><a href="javascript:Recaptcha.showhelp()"><i class="fa fa-question-circle"></i></a></span>
			  </div><br/>
			  <div id="notice" class="notice" data-captcha-failed="Incorrect captcha!" data-error="There was an error sending the message, please try again."></div>
			  <button type="submit">Send</button> -->
			</div>
		</form>
		<!--
		<ul class="actions vertical">
			<li><a href="#" class="button fit special">Activate</a></li>
			<li><a href="#" class="button fit">Learn More</a></li>
		</ul> -->
	</div>
</section>
