<!-- One -->
<section id="faq" class="wrapper style5">
	<div class="inner">
		<header class="major">
			<h2>Frequently Asked Questions</h2>
		</header>
		<div class="column-container">

			<div class="question-container">
				<ul class="questions major">
					<li>
		        <div class="q"><b>What time is the camp?</b></div>
		        <div class="a">The camp will run from 8am to 12pm. We will be beginning at 8am, so we recommend arriving between 7:30 and 8am to get signed in.</div>
		      </li>
					<li>
		        <div class="q"><b>What if my child does not meet the age requirements?</b></div>
		        <div class="a">Please contact us below and we will discuss options for your child.</div>
		      </li>
					<li>
		        <div class="q"><b>How many kids will be in the camp?</b></div>
		        <div class="a">Our classes have an instructor-to-student ratio of 6 to 1. With this in mind, each camp will have 12 kids in it. This allows our instructors to have individual interaction with your child.</div>
		      </li>
					<li>
		        <div class="q"><b>What will my child be able to do at the end of camp?</b></div>
		        <div class="a"><b>All Classes:</b> Your child will have foundational knowledge of how to program in a simple, yet powerful, programming language called Python. Along with this, each student will learn foundational knowledge about how computers work and how to think like a computer scientist. All of our students will interact with robotics and the middle school classes will be learning</div>
		        <div class="a" style="margin-top: 8px;"><b>Middle Schoolers:</b> In addition to the above, all middle schoolers will be engaged in learning how basic circuitry works. The students will be developing their own circuits and will be able to take their electronics projects and kits home with them.</div>
		      </li>
				</ul>
			</div>

			<div class="question-container">
				<ul class="questions major">
					<li>
						<div class="q"><b>How much does camp cost?</b></div>
						<div class="a">Each camp class costs $350.</div>
					</li>
					<li>
		        <div class="q"><b>Is lunch provided?</b></div>
		        <div class="a">No. We will have some basic snacks, but recommend that you eat breakfast before coming and to pack a snack for your child.</div>
		      </li>
					<li>
		        <div class="q"><b>What will my child be doing at camp?</b></div>
		        <!-- <div class="a">Great question! Your child will be actively engaged in programming and circuitry acitivies. They will be learning the basics of how to code as well as developing their own app. They will be taught by a computer scientist who works a successful software company and a Seminole County elementary school teacher. Your child will be working cooperatively with their peers to understand the ins and outs of computer programming so they can become successful at writing code.</div> -->
		        <div class="a">Great question! Exactly what your child will be doing will depend primarily on the grade level they have completed. <a href="#about" class="scrolly">See above for details</a> about what students in each class we offer will be learning during camp. In general, all campers will be working wither their fellow classmates throughout the learning experience. All campers will be instructed by Tyler Petresky, a computer scientist, and Emily Webb, a Seminole County elementary school teacher.</div>
		      </li>
					<li>
		        <div class="q"><b>What does my money cover?</b></div>
		        <!-- <div class="a">Your payment will cover all materials needed to learn how to create an app as well as circuitry design. Your child's tuition will also cover activities that they will take home once they have created them. This money will also cover snacks and drinks throughout the day, and a t-shirt.</div> -->
		        <div class="a">Your payment will cover a week of instruction in foundational computer science knowledge from our instructors. Your child's tuition will also cover any materials that they will take home at the end of the camp as well as snacks and a tshirt.</div>
		      </li>
					<li>
		        <div class="q"><b>Have more questions?</b></div>
		        <div class="a">Contact Emily directly at <a href="mailto:contact@oviedocodecamp.com?Subject=Code%20Camp%20Inquiry" target="_top">contact@oviedocodecamp.com</a> or use the <a href="#cta" class="scrolly">contact form below</a>. We would love to address your concerns.</div>
		      </li>
				</ul>
			</div>

		</div>
	</div>
</section>
