<section id="register">
  <div class="inner">
    <form id="registerForm" class="register-form" method="post" action="http://localhost:9292/register" data-success="Registered Successfully!">
      <div id="notice"></div>

      <div class="parent-information section clearfix">
        <div class="title">Parent's Information</div>

        <div class="name clearfix">
          <span class="first-name">
            <label for="parent-first-name">First Name</label>
            <input id="parent-first-name" type="text" name="parent_first_name" class="field" required /><br />
          </span>
          <span class="last-name">
            <label for="parent-last-name">Last Name</label>
            <input id="parent-last-name" type="text" name="parent_last_name" class="field" required /><br />
          </span>
        </div>

        <span class="email">
          <label for="email">Email</label>
          <input id="email" type="email" name="email" class="field" required /><br />
        </span>
      </div>

      <div class="child-information section clearfix">
        <div class="title">Child's Information</div>

        <div class="name clearfix">
          <span class="first-name">
            <label for="child-first-name">First Name</label>
            <input id="child-first-name" type="text" name="child_first_name" class="field" required /><br />
          </span>
          <span class="last-name">
            <!-- <label for="child-last-name">Last Name</label> -->
            <input id="child-last-name" type="text" name="child_last_name" class="field" required /><br />
          </span>
        </div>

        <div class="" style="width:100%;">
          <span class="t-shirt-size">
            <label for="t-shirt-size">T-Shirt Size</label>
            <select id="t-shirt-size" name="t_shirt_size">
              <option value="na">-- Select --</option>
              <option value="small">Small</option>
              <option value="medium">Medium</option>
              <option value="large">Large</option>
            </select>
          </span>

          <span class="child-age">
            <label for="child-age">Age</label>
            <input id="child-age" type="number" name="child_age" class="field" required /><br />
          </span>

          <button id="submit">Submit</button>

          <!-- <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_y90CqBEMbLJc4pKxddK5TOQ8"
            data-amount="35000"
            data-zip-code="true"
            data-allow-remember-me="false"
            data-name="Oviedo Code Camp"
            data-description="Preparing for the future."
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto">
          </script> -->
        </div>
      </div>
    </form>
  </div>

  <!-- <script src="{{ "/js/setupRegistration.js" | absolute_url }}"></script> -->
</section>
