<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>What is the Oviedo Code Camp?</h2>
			<p>We love Oviedo and the surrounding area and seek to serve the children here by providing high-quality instruction to help your children learn valuable technology skills at a young age.</p>
		</header>

		<form id="signup-form">

		</form>


		<ul class="features">
			<li class="icon fa-code">
				<h3>Learn Python</h3>
				<p>Your child will be exposed and learn to use a widely used programming language called Python.</p>
			</li>
			<li class="icon fa-branch">
				<h3>Create Circuits</h3>
				<p>We will be teaching your child how basic electricity works and how to construct simple circuits that are foundational for further learning.</p>
			</li>
			<li class="icon fa-book">
				<h3>Cricital Thinking</h3>
				<p>The basis of computer programming is grounded in logic. By learning the basic constructs of programming, your child will learn to think more critically.</p>
			</li>
			<li class="icon fa-headphones">
				<h3>Engaged Learning</h3>
				<p>We believe that learning is most effective when students are hands on with material. To facilitate this, we will be tasking the students with problems to solve on their own.</p>
			</li>
			<li class="icon fa-heart-o">
				<h3>Take Home Electronics</h3>
				<p>Each child that attends the Oviedo Code Camp will leave with a beginning's electronics kit to help them continue learning after the summer.</p>
			</li>
			<li class="icon fa-heart-o">
				<h3>Community</h3>
				<p>Learning is easier when surrounded by people of similar interests. We will be fostering community between the students attending the camp.</p>
			</li>
		</ul>
	</div>
</section>
