<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>Prepare your child for the future</h2>
			<p>Programming is listed as one of the most important skills for children to get acquainted with<br />
				at a young age. In a technology driven era, more and more jobs require a high-level knowledge of computers<br />
				and how they work. Knowing how to program just might be the key to success for your child's future.</p>
		</header>
		<ul class="icons major">
			<li>
				<div class="icon fa-code major style1"></div>
				<div class="label">Code</div>
			</li>
			<li>
				<div class="icon fa-code-fork major style2"></div>
				<div class="label">Circuits</div>
			</li>
			<li>
				<div class="icon fa-smile-o major style3"></div>
				<div class="label">Fun</div>
			</li>
		</ul>
	</div>
</section>
