#about {
  .inner {

  }

  header p {
    color: white;
  }

  .class-container {
    display: flex;

    .class-choice {
      width: 49%;
      color: #111111;
      margin-left: 1%;
      background-color: white;

      .title {
        font-size: 2.0rem;
        margin-bottom: 8px;
        background-color: #21b2a6;
        line-height: 1.5;
        color: white;
      }

      .ages {
        font-size: 1.0rem;
      }

      .dates {
        font-size: 1.3rem;
      }

      .info {
        margin-top: 8px;
        text-align: left;
        font-size: 0.9rem;
        line-height: 1.4;
        padding: 0 26px;

        &:before {
          content: '';
          display: block;
          background: orange;
          height: 2px;
          max-width: 160px;
          width: 50%;
          margin: 0 auto;
          margin: 25px auto 20px auto;
        }
      }
    }
  }
}
