#about {
  .inner {

  }

  header p {
    color: white;
  }

  .class-container {
    display: flex;
    flex-direction: row;

    .class-choice {
      width: 49%;
      color: #111111;
      background-color: white;
      position: relative;
      padding-bottom: 80px;

      &:last-child {
        margin-left: 2%;
      }

      .title {
        font-size: 1.6rem;
        margin-bottom: 8px;
        background-color: #21b2a6;
        line-height: 1.5;
        color: white;
      }

      .ages {
        font-size: 1.0rem;
      }

      .dates {
        font-size: 1.3rem;
      }

      .info {
        margin-top: 8px;
        text-align: left;
        font-size: 0.9rem;
        line-height: 1.4;
        padding: 0 26px;

        &:before {
          content: '';
          display: block;
          background: #ef476f;
          height: 2px;
          max-width: 160px;
          width: 50%;
          margin: 10px auto 15px auto;
        }
      }

      .options-container {
        position: absolute;
        bottom: 5px;
        width: 100%;

        .class-option {
          position: relative;
          width: 300px;
          height: 30px;
          background-color: #21b2a6;
          color: white;
          margin: 0 auto;
          margin-bottom: 10px;
          border-radius: 2px;
          border-bottom: 3px solid #505393;
          -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
          -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
          box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);

          &.full {
            background-color: #ef476f;

            &:before {
              content: '';
              width: 96%;
              border-bottom: solid 2px #fff;
              position: absolute;
              left: 2%;
              top: 51%;
              z-index: 1;
            }
          }

          @include vendor('transition', ('transform 0.1s ease'));
          &:hover {
            @include vendor('transform', 'scale(1.05)');
            cursor: pointer;
          }

          .date {
            width: 40%;
            float: left;
          }

          .availability {
            width: 60%;
            float: right;
          }
        }
      }
    }

    @include breakpoint(small) {
      flex-direction: column;

      .class-choice {
        width: 100%;
        margin-left: 0;
        margin-bottom: 25px;
      }
    }
  }

  .about-register-button {
    margin-top: -25px;
    position: relative;

    a {
      @include vendor('transition', ('transform 0.1s ease'));
      -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75) !important;
      -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75) !important;
      box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75) !important;

      &:hover {
        @include vendor('transform', 'scale(1.05)');
      }
    }

    @include breakpoint(medium) {
      margin-top: 15px;
    }
  }
}
