@import 'libs/skel';

@include skel-breakpoints((
  xlarge: '(max-width: 1680px)',
  large: '(max-width: 1280px)',
  medium: '(max-width: 980px)',
  small: '(max-width: 736px)',
  xsmall: '(max-width: 480px)'
));

#bio {
  .inner {
    width: 95%;
    header {}
  }

  .instructor-container {
    display: flex;
    flex-direction: row;

    @include breakpoint(medium) {
      flex-direction: column;
      text-align: center;

      .instructor {
        width: 90%;

        &:first-child {
          margin-bottom: 25px;
        }

        &:last-child {
          .name { text-align: right; }
          .info {
            .headshot { order: 2; }
            .bio { order: 1; }
          }
        }
      }
    }

    @include breakpoint(xsmall) {
      flex-direction: column;
      text-align: center;

      .instructor {
        width: 90%;
        margin-bottom: 25px;

        .name {
          text-align: center !important;
          display: block;
        }

        .info {
          display: block;
        }

      }
    }
  }

  .instructor {
    width: 49%;
    display: inline-block;

    &:first-child {
      margin-right: 2%;
    }

    .name {
      text-align: left;
      font-size: 1.8rem;
      margin-bottom: 15px;
    }

    .info {
      display: flex;

      .headshot {
        display: inline-block;
      }

      .bio {
        display: inline-block;
        text-align: justify;
        text-justify: inter-word;
        line-height: 1.5;
        padding: 0 10px;
      }
    }
  }
}
