#faq {
  .inner {
    width: 90%;

    header {
      text-align: center;
    }
  }

  .column-container {
    display: flex;
    flex-direction: row;
    width: 100%;

    .question-container {
      display: flex;
      flex-direction: column;
      width: 49%;
      justify-content: space-between;

      &:first-child {
        margin-right: 2%;
      }
    }

    @include breakpoint(small) {
      flex-direction: column;

      .question-container {
        width: 100%;

        ul.questions {
          margin: 0;

          .q {
            font-size: 1.0rem;
          }

          .a {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  ul.questions {
    cursor: default;
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: 25px;

      .q {
        font-size: 1.1rem;
        margin-bottom: 5px;
        position: relative;
      }

      .a {
        font-size: 0.8rem;
        text-align: justify;
        text-justify: inter-word;
      }
    }
  }
}
